/************************** MAIN DOC ***************************/

body, h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif
}

/*************************** HEADER ****************************/

.mdl-layout {
  background: url('../images/bg-img.jpg') center / cover;
}

.mdl-layout__tab-bar {
  background: none;
}

.mdl-layout__header {
  background: none;
  box-shadow: none;
}

/************************** HOME PANEL *************************/

.center-content {
  color: white;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


/*********************** ABOUT PANEL ***************************/

.about-grid img {
  width: 100%;
  height: 100%;
}

.tools {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tools i {
}

.tools i:hover {
  -webkit-transform: scale(1.5);
}

/********************** PORTFOLIO PANEL ************************/



/*********************** CONTACT PANEL *************************/



/************************** FOOTER *****************************/
