/* GLOBAL */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  color:#808080;
}

body {
  font-family: 'Roboto', sans-serif;
  margin:0;
}

.full-page{
  height: 100vh;
  width: 100vw;
}

.relative{
  position:relative;
}

.absolute{
  position:absolute;
}

.center{
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.website{
  background:white;
  overflow-x:scroll;
}

header{
  align-items:center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:.5rem .75rem;

}
.name,.title{margin:0;}
.name span{color:#aac5b7;}
.title{text-transform:uppercase;}

.button a{background:#fff;border:2px solid #aac5b7;border-radius:.5rem;color:#aac5b7;display:inline-block;padding:.5rem .75rem;text-decoration:none;}

.button a:hover{
  background:#aac5b7;color:#fff;
  transition: all .2s ease-in-out;
}

/* MEDIA QUERIES */

@media only screen and (max-width:900px){
  .website{
    border: 1px solid #aac5b7;
    bottom:0!important;
    height:100vh!important;
    left:0!important;
    right:0!important;
    top:0!important;
    transition: all 1s ease-in-out;
    width:100vw!important;
  }
}

@media only screen and (min-width:901px){
  .website{
    transition: all 1s ease-in-out;
  }
  .website:hover{
    border: 1px #aac5b7 solid;
    transform: scale(2);
    transition: all 1s ease-in-out;
  }
}
